@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --brand: 221 71% 37%;
  }

  body {
    @apply bg-white text-slate-900;
  }
}

/* MapLibre overrides */
.maplibregl-map {
  font-family: inherit;
}
